<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="false">

    <display-name>Archetype Created Web Application</display-name>

    <!--    <listener>-->
    <!--        <listener-class>learn.listener.SessionListener</listener-class>-->
    <!--    </listener>-->

    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>learn.servlet.MyServlet</servlet-class>
        <!--    <servlet-class>learn.servlet.MyServlet</servlet-class>-->
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>learn.filter.LogFilter</filter-class>
        <init-param>
            <param-name>logName</param-name>
            <param-value>request.log</param-value>
        </init-param>
        <init-param>
            <param-name>preFix</param-name>
            <param-value>URI:</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- filter的执行顺序为在webxml中的放置顺序 -->
    <filter>
        <filter-name>ImageProtectFilter</filter-name>
        <filter-class>learn.filter.ImageProtectFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>ImageProtectFilter</filter-name>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.gif</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>DownloadCounterFilter</filter-name>
        <filter-class>learn.filter.DownloadCounterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DownloadCounterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
